@import url('https://fonts.google.com/share?selection.family=Edu+AU+VIC+WA+NT+Pre:wght@400..700');
body {
    background-color: #f5cde465;
}
:root {
    --cor-principal: #920cdf;
    --cor-secundaria: #d157b265;
    --cor-destaque: #930dc9;
}

body {
        font-family: "Edu AU VIC WA NT Pre", cursive;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque);
}

